body{
  width:80%;
    margin:0 auto;
    text-align:center;
    background:#2E94B9;
    /*position: absolute;*/
}
.mather-block{
    position: relative;
    margin:10%;
}
.father-block{
    width:50%;
    background: darkgrey;
    color:navajowhite;
    padding:2em 5em;
    margin:20% 20% 0;
    position: relative;
    /*  display: none;*/ /*active when
  you need to jq .show(400) or
  .fadeIn(1000) */
}

.header{
    margin-bottom:1em;
    color:whitesmoke;
    font-family: 'Lato', sans-serif;
}
.btn-for-father{
    margin-top:2em;
    border:none;
    padding:1em 2em;
    border-radius:2em ;
    cursor: pointer;
    outline: none;
    position: relative;
   top:60%;
    left:4%;
}