body{
    width:1170px;
    margin:0 auto;
    text-align:center;
}
.father-block{
    width:30%;
    background: darkgrey;
    color:navajowhite;
    padding:2em 5em;
    margin:0 auto;
    opacity: 0.9;
  /*  display: none;*/ /*active when
  you need to jq .show(400) or
  .fadeIn(1000) */
}
.header{
    margin-bottom:1em;
    color:whitesmoke;
    font-family: 'Lato', sans-serif;
}
.btn-for-father{
    margin-top:2em;
    border:none;
    padding:1em 2em;
    border-radius:2em ;
    cursor: pointer;
    outline: none;
}